<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<!--Ooms Britt r0802207-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="img/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Startpagina</title>
</head>
<body>
<header>
<h1>SupermarktApp</h1>
<p>door Britt Ooms</p>
</header>
<div>
<ul>
    <li>
        <a href="/1_nieuweKlant">Nieuwe klant</a>
    </li>
    <li>
        <a href="/3_nieuwPersoneel">Nieuw personeelslid</a>
    </li>
    <li>
        <a href="/7_nieuweSupermarkt">Nieuwe supermarkt</a>
    </li>
    <li>
        <a href="/9_nieuweAfdeling">Nieuwe afdeling</a>
    </li>
    <li>
        <a href="/6_lijstKlant">Lijst klanten</a>
    </li>
    <li>
        <a href="/5_lijstPersoneel">Lijst personeel</a>
    </li>
    <li>
        <a href="/8_lijstSupermarkt">Lijst supermarkten</a>
    </li>
    <li>
        <form action="/11_infoAfdeling">
            <label for="afdeling">Zoek: </label>
            <input type="text" id="afdeling" name="afdeling">
            <button type="subit">Zoeken</button>
        </form>
    </li>
</ul>
</div>

<footer>
    <p>Ooms Britt r0802207</p>
</footer>

</body>
</html>